Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.idea/.idea.ActionRPG/.idea/.name
.idea/.idea.ActionRPG/.idea/encodings.xml
.idea/.idea.ActionRPG/.idea/indexLayout.xml
.idea/.idea.ActionRPG/.idea/inspectionProfiles/Project_Default.xml
.idea/.idea.ActionRPG/.idea/vcs.xml
.vsconfig
